In [1]:
a360ai

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
import warnings
warnings.filterwarnings('ignore')

### 1. Set Default Data Repo and load data

In [4]:
a360ai.set_default_datarepo("Jupyter R-Python")

In [5]:
a360ai.list_datasets()

               base_name extension      size
1      SMSSpamCollection            483481.0
2  SMSSpamCollection.csv       csv  500350.0

In [22]:
df = a360ai.load_dataset("SMSSpamCollection.csv")

In [27]:
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

### 2. Data cleaning, data engineering, data preprocessing

In [9]:
df.dtypes

label      object
message    object
dtype: object

In [11]:
df.label.values

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [12]:
# On viewing the datatypes, we see that label is object
df[pd.to_numeric(df.label,errors='coerce').isnull()].shape

(5572, 2)

In [13]:
#Remove rows with space in label
df1 = df[df.label!=" "]
df1.shape

(5572, 2)

In [14]:
# check the different values in the different columns
print("label"+" :",df1["label"].unique())

label : ['ham' 'spam']

In [15]:
# Converting all 'spam' to 1 and all 'ham' to 0
yes_no_columns = ["label"]
            
for col in yes_no_columns:
  df1[col].replace({'spam':1,'ham':0},inplace=True)

In [16]:
df1

      label                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0               Will ü b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

### 3. Write dataaset to Data Repo

In [28]:
a360ai.write_dataset(df,"df")

True